
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", serif;
    
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header{
    position: relative;
    height: 710px;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: rgb(225, 255, 143);
    overflow:hidden;
    &__box{
        padding-right: 432px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    &__star1{
        position: absolute;
        width: 35px;
        height: 35px;
        left: 36px;
        top: 69px;
    }
    &__star2{
        position: absolute;
        width: 57px;
        height: 57px;
        left: -56px;
        top: 94px;
    }
    &__star3{
        position: absolute;
        width: 37px;
        height: 37px;
        right: 335px;
        top: 538px;
    }
    &__star4{
        position: absolute;
        width: 83px;
        height: 83px;
        right: 224px;
        top: 568px;
    }
    &__star5{
        position: absolute;
        width: 1074px;
        height: 1130.46px;
        right: -608px;
        top: -333.46px;
        opacity: 1;
    }
    &__title{
        margin-top: 196px;
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        overflow:hidden;
        opacity: 2;
    }
    &__text{
        margin-top: 24px;
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__text-bold{
        font-weight: 600;
    }
    &__button{
        width:247px;
        height:66px;
        margin-top: 48px;
        border-radius: 60px;
        background: rgb(32, 32, 39);
        
    }
    &__button-a{
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
    }

}
.stripe{
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgb(188, 236, 48);
    box-sizing: border-box;
    backdrop-filter: blur(50px);
    padding: 27px 49px 27px 49px;
    position: relative;
    overflow: hidden;
    &__box{
        display: flex;
        gap: 51px;
    }
    &__h3{
        white-space: nowrap;
        color: rgb(32, 32, 39);
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
    }
}

.info-game{
    background: rgb(32, 32, 39);
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow:hidden;
    &__title{
        margin-top: 96px;
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__p{
        margin-top: 24px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__content{
        margin-top: 72px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: auto;
        gap:32px;
        position: relative;
    }
    &__star1{
        position: absolute;
        left: 877px;
        top: -254px;
        z-index: 0;
    }
    &__star2{
        position: absolute;
        left: -94px;
        top: 406px;
        z-index: 0;
    }
    &__star3{
        position: absolute;
        left: -74.07px;
        top: 458px;
        z-index: 0;
    }
    &__cart{
        width: 378px;
        position: relative;
        order: -1;
        align-self: stretch;
        flex-grow: 0;
        border-radius: 30px;
        box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
        background: rgb(255, 255, 255);
        grid-column: span 4;
        z-index: 1;
    }
    &__cart-big{
        margin-bottom: -32px;
    }
    &__cart-little{
        margin-top: 32px;
    }
    &__cart-img{
        border-radius: 30px;
        background-color: aqua;
        width: inherit;
        height: 314px;
        position: relative;
        overflow:hidden;
    }
    &__cart-svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        object-fit:cover;
    }
    &__hand{
        width: 97px;
        height: 104px;
        position: absolute;
        background-image: url(img/hand.png);
        background-position: center;
        background-position: no-repeat;
        background-size: cover;
        top: 45%;
        left: 50%;
        transform:translate(-50%, -50%);
        object-fit:cover;
    }
    .wath{
        top: 45%;
        left: 50%;
        transform:translate(-50%, -50%);
        object-fit:cover;
    }
    &__cart-description{
        display: flex;
        flex-direction: column;
        gap:16px;
        padding: 32px 32px 32px 32px;
    }
    &__cart-number{
        width: 82px;
        padding: 8px 16px 10px 16px;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0px;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    &__cart-name{
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
    }
    
}
.mini-game{
    background: rgb(32, 32, 39);
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
    &__title{
        margin-top: 46px;
        margin-bottom: 72px;
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__box{
        padding-bottom: 144px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:32px;
        position: relative;
    }
    &__star1{
        position: absolute;
        right: 2.79px;
        top: -98.94px;
        z-index: 0;
    }
    &__star2{
        position: absolute;
        right: -68.86px;
        top: -68.86px;
        z-index: 0;
    }
    &__star3{
        position: absolute;
        right: 29px;
        bottom: 45px;
        z-index: 0;
    }
    &__star4{
        position: absolute;
        right: -69px;
        bottom: 69px;
        z-index: 0;
    }
    &__cart{
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 30px;
        box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
        background: rgb(255, 255, 255);
        overflow:hidden;
        z-index: 1;
    }
    &__cart-revers{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    &__part{
        padding: 48px 48px 48px 48px;
    }
    &__h1{
        color: rgb(32, 32, 39);
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__p{
        margin-top: 24px;
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__button{
        margin-top: 36px;
        width: 247px;
        height: 66px;
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
    }
    &__img{
        width: 50%;
        border-radius: 30px;
    }
    &__hand{
        top: 50%;
        width: 148px;
        height: 161px;
    }
    &__imgCart{
        width: 100%;
        height: 100%;
    }
}
.footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(189, 237, 53);;
    &__p{
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
    }
}