@media (max-width:767px){
    .center{
        padding-left: calc(16px);
        padding-right: calc(16px);
    }
    .star{
        display: none;
    }
    .header{
        &__box{
        align-items: center;
        }
        &__title{
            margin-top: 147px;
            color: rgb(32, 32, 39);
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: center;
        }
        &__text{
            margin-top: 24px;
            color: rgb(32, 32, 39);
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
        }
        &__buttom{
            margin-top: 36px;
            margin-bottom: 131px;
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;

        }
    }
    .stripe{
        height: 52px;
        padding: 16px 24px 16px 24px;
        &__box{
            gap:27px;
        }
        &__h3{
            color: rgb(32, 32, 39);
            font-size: 16px;
            font-weight: 700;
            line-height: 110%;
            letter-spacing: 4%;
            text-align: left;
            text-transform: uppercase;
        }
        &__svg{
            width: 19px;
            height: 19px;
        }
    }
    .info-game{
        display: none;

    }
    .mini-game{
        &__title{
            margin-top: 48px;
            margin-bottom: 48px;
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: left;
            
        }
        &__box{
            padding-bottom: 49px;
        }
        &__cart{
            height: 568px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            z-index: 0;
        }
        &__part{
            padding: 29px 29px 32px 29px;
        }
        &__h1{
            color: rgb(32, 32, 39);
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
        }
        &__p{
            margin-top: 16px;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
        }
        &__button{
            width: 285px;
            height: 55px;
            margin-top: 32px;
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;
        }
        &__img{
            width: 100%;
            z-index: 1;
        }
        &__svg{
            position: relative;
            width: 195%;
            height: 195%;
            transform:translate(-50%, -50%);
        }
        &__svg-min{
            position: relative;
            width: 100%;
            height: 100%;
            transform:translate(-50%, -250%);  
        }
        &__hand{
            position: relative;
            width: 30%;
            height: 40%;
            transform:translate(-50%, -800%); 
        }
    }

    .footer{
        height: 100px;
    }
    
}
@media(min-width:410px) and (max-width:767px){
    
}
@media(min-width:768px){

}
