@media (max-width:1024px){
    .center {
        padding-left: calc(48% - 786px/2);
        padding-right: calc(48% - 786px/2);
        info-game{
            &__cart{
                width: 343px;
            }
        }
    }
    
    
}
@media (min-width:768px) and (max-width:833px) {
    .center {
        padding-left: calc(26px);
        padding-right: calc(26px);
    }
    
}