@media (max-width:1024px){
    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }
    
    .header{
        &__box{
            padding-right: 0px;
        }
    }
    .info-game{
        &__content{
            gap:20px;
        }
        &__cart{
            height: 550px;
        }
        &__cart-big{
            margin-bottom: 0px;
        }
        &__cart-little{
            margin-top: 0px;
        }
    }
}