* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  position: relative;
  height: 710px;
  background-position: center;
  background-position: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background: rgb(225, 255, 143);
  overflow: hidden;
}
.header__box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.header__star1 {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 69px;
}
.header__star2 {
  position: absolute;
  width: 57px;
  height: 57px;
  left: -63px;
  top: 94px;
}
.header__star3 {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 828px;
  top: 538px;
}
.header__star4 {
  position: absolute;
  width: 83px;
  height: 83px;
  left: 893px;
  top: 568px;
}
.header__star5 {
  position: absolute;
  width: 1074px;
  height: 1130.46px;
  left: 734px;
  top: -333.46px;
}
.header__title {
  margin-top: 196px;
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.header__text {
  margin-top: 24px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.header__text-bold {
  font-weight: 600;
}
.header__button {
  width: 247px;
  height: 66px;
  margin-top: 48px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
}
.header__button-a {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
}

.stripe {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgb(188, 236, 48);
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  padding: 27px 49px 27px 49px;
  position: relative;
  overflow: hidden;
}
.stripe__box {
  display: flex;
  gap: 51px;
}
.stripe__h3 {
  white-space: nowrap;
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
}

.info-game {
  background: rgb(32, 32, 39);
  background-position: center;
  background-position: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;
}
.info-game__title {
  margin-top: 96px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.info-game__p {
  margin-top: 24px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.info-game__content {
  margin-top: 72px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: auto;
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
.info-game__star1 {
  position: absolute;
  left: 877px;
  top: -254px;
  z-index: 0;
}
.info-game__star2 {
  position: absolute;
  left: -94px;
  top: 406px;
  z-index: 0;
}
.info-game__star3 {
  position: absolute;
  left: -74.07px;
  top: 458px;
  z-index: 0;
}
.info-game__cart {
  position: relative;
  order: -1;
  align-self: stretch;
  flex-grow: 0;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  grid-column: span 4;
  z-index: 1;
}
.info-game__cart-big {
  margin-bottom: -32px;
}
.info-game__cart-little {
  margin-top: 32px;
}
.info-game__cart-img {
  border-radius: 30px;
  background-color: aqua;
  width: inherit;
  height: 314px;
  position: relative;
  overflow: hidden;
}
.info-game__cart-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.info-game__hand {
  width: 97px;
  height: 104px;
  position: absolute;
  background-image: url(img/hand.png);
  background-position: center;
  background-position: no-repeat;
  background-size: cover;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.info-game .wath {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.info-game__cart-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 32px 32px 32px;
}
.info-game__cart-number {
  width: 108px;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.info-game__cart-name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.mini-game {
  background: rgb(32, 32, 39);
  background-position: center;
  background-position: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.mini-game__title {
  margin-top: 46px;
  margin-bottom: 72px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.mini-game__box {
  padding-bottom: 144px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
.mini-game__star1 {
  position: absolute;
  right: 2.79px;
  top: -98.94px;
  z-index: 0;
}
.mini-game__star2 {
  position: absolute;
  right: -68.86px;
  top: -68.86px;
  z-index: 0;
}
.mini-game__star3 {
  position: absolute;
  left: 1130px;
  bottom: 45px;
  z-index: 0;
}
.mini-game__star4 {
  position: absolute;
  right: -69px;
  bottom: 69px;
  z-index: 0;
}
.mini-game__cart {
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  overflow: hidden;
  z-index: 1;
}
.mini-game__cart-revers {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.mini-game__part {
  padding: 48px 48px 48px 48px;
}
.mini-game__h1 {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.mini-game__p {
  margin-top: 24px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.mini-game__button {
  margin-top: 36px;
  width: 247px;
  height: 66px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
}
.mini-game__img {
  background-color: aqua;
  width: 50%;
  position: relative;
  overflow: hidden;
}
.mini-game__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.mini-game__svg-min {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.mini-game__hand {
  top: 50%;
  width: 148px;
  height: 161px;
}

.footer {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(189, 237, 53);
}
.footer__p {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */