button:hover {
    cursor: pointer;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 60px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    .header__button-a{
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
    }
}
.info-game__cart:hover{
    transform: scale(1.10); /* Увеличение объекта на 20% */
    z-index: 9;
}

@import "index";
@import "tablet";
@import "mobile";